@import "../variables";

$kvc-input-height: 32px;

.kvc {
  border-top: 2px solid $color-border-bright;
  padding: 2rem;
}

.kvc--disabled {
  opacity: 0.4;
  pointer-events: none;

  .kvc__apply-button--disabled {
    opacity: 1;
    pointer-events: auto;
  }

  .kvc__column--disabled {
    opacity: 1;
    pointer-events: auto;
  }
}

.kvc--has-value {
  .kvc__title {
    margin-bottom: 0;
  }
}

.kvc * {
  box-sizing: border-box;
}

.kvc p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.kvc input {
  padding: 0;
  margin: 0;
}

.kvc__tag {
  color: $color-text-light-readable-grey;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.kvc__title {
  color: $color-main;
  margin-bottom: 2rem;
}

.kv__current-value-box {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.5rem;

  .kv__current-value {
    color: $color-main;
  }
}

.kvc__select {
  height: $kvc-input-height;
  margin-bottom: 10px;

  .kvc-select__placeholder {

  }

  .kvc-select__control {
    background-color: $color-bright;
    border: none;
    box-shadow: none;
    cursor: pointer;
    min-height: auto;
  }

  .kvc-select__value-container {
    cursor: text;
    padding: 0 10px;

    input {
      line-height: $kvc-input-height - 8;
      outline: none;
    }
  }

  .kvc-select__indicator-separator {
    display: none;
  }

  .kvc-select__dropdown-indicator {
    background-color: $color-main;
    padding: 6px 10px;

    svg {
      fill: $color-white
    }
  }

  .kvc-select__menu {
    z-index: 2;
  }

  .kvc-select__menu-list {
    padding: 0;
  }
}

.kvc__connection-type-select {
  .kvc-select__value-container {
    cursor: pointer;
  }
}

.kvc__switch {
  align-items: center;
  display: flex;
  line-height: 1;
  margin-left: 10px;
}

.kvc__switch-slider {
  border: 1px solid $color-border;
  border-radius: 34px;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  position: relative;
  width: 40px;
}

.kvc__switch-slider-bullet {
  border-radius: 20px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    background-color: $color-main;
    border-radius: 50%;
    bottom: 2px;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    width: 14px;
  }
}

.kvc__switch-slider-bullet--right {
  -ms-transform: translateX(18px);
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
}

.kvc__columns {
  display: flex;
  justify-content: space-between;
}

.kvc__column--disabled {
  opacity: 0.25;
  pointer-events: none;
}

.kvc__input-box {
  align-items: center;
  display: flex;
  margin-top: 10px;

  .kvc__input-label {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
  }

  .kvc__input-mask {
    align-items: center;
    background-color: $color-bright;
    display: flex;
    height: $kvc-input-height;
    position: relative;
    width: 150px;
  }

  .kvc__input {
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    font-size: 18px;
    line-height: $kvc-input-height;
    height: $kvc-input-height;
    padding: 3px 50px 3px 10px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .kvc__input[readonly] {
    cursor: default;
  }

  .kvc__input-unit {
    color: $color-text-light-readable-grey;
    margin-right: 10px;
    position: absolute;
    right: 0;
  }
}

.kvc__results {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;

  .kvc__result-text {
    margin-right: 20px;
  }

  .kvc__result {
    font-weight: bold;
    margin-left: 10px;
    text-decoration: underline;
  }

  .kvc__missing-params-text {
    font-style: italic;
    margin-left: 10px;
  }

  .kvc__apply-button {
    background-color: $color-main;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
  }

  .kvc__apply-button--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
