@import "../variables";

.open-form-button {
  align-items: center;
  cursor: pointer;
  position: fixed;
  visibility: visible;
  display: inline-flex;
  color: white;
  background-color: $color-main;
  justify-content: space-around;
  padding: 8px 14px;
  bottom: 125px;
  z-index: 2;

  width: 15rem;

  font-weight: bold;

  text-align: center;

  @media only screen and (min-width: 1201px) {
    // (max-width: 40em)
    transition: right 500ms ease-out;

    right: -100%;
    bottom: 135px;

    &.show {
      right: 0;
    }
  }

  @media only screen and (max-width: 1200px) {
    transition: right 500ms ease-out;

    right: -100%;

    &.show {
      right: 0;
    }
  }

  @media only screen and (max-width: 985px) { 
    font-size: 10px;
  }
}
