.help-text-overlay {
  display: none;

  &.show {
    display: block;
    top: 0;
    left: 0;
  }

  .help-text-wrapper {
    height: 100%;
    position: relative;

    .help-text-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-bright;
      max-width: 700px;

      width: 90%;
      max-height: 80%;
      overflow-y: auto;
      overflow-x: hidden;

      .content-wrapper {
        position: relative;
        padding: 3em 2em;
        box-sizing: border-box;

        ul {
          list-style: circle;
          padding-left: 2rem;
        }

        li {
          margin-bottom: 0;
        }

        img {
          margin: 2em auto;

          display: block;
          width: 100%;
          height: auto;

          @media (min-width: 800px) {
            width: 80%;
          }
        }

        .close-button {
          display: block;
          position: absolute;
          right: 5%;
          top: 5%;
          cursor: pointer;

          .fa.fa-times {
            font-size: 20px;
          }
        }
      }
    }
  }
}
