.questions-wrapper {
  &.isAnimating {
    pointer-events: none;
    cursor: progress;
  }

  .question-wrapper {
    position: relative;
    background-color: white;
    margin-bottom: 3rem;
    box-shadow: 0 5px 7px rgba(171, 171, 171, 0.59);

    &.valveOption {
      h3 {
        color: $color-main;
      }

      .valve-option-question__filter-headline {
        color: inherit;
      }

      .answer {
        border-bottom: 1rem solid white;
      }

      .question-button-container-wrapper .question-button {
        cursor: default;
      }
    }

    &.currentAndVoltage {
      .current-column {
        opacity: 0;

        -moz-transition: opacity 0.5s ease-in;
        -webkit-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;

        &.fadeIn {
          opacity: 1;
        }

        #current .remark {
          margin-bottom: 1rem;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .no-answers {
      min-height: 350px;
      padding: 0 2rem 1rem 2rem;
      text-align: center;

      .call-back-btn {
        display: inline-block;
        cursor: pointer;
        padding: 0.5em 1em;
        color: $color-bright;
        background-color: $color-main;
      }
    }

    .question-content-wrapper {
      padding: 2rem 2rem 0;
      box-sizing: border-box;

      .question-count {
        color: $color-text-light-readable-grey;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }

      .question-title {
        color: $color-main;
      }
    }

    .question-button-container-wrapper {
      position: relative;
      display: flex;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      flex-direction: row;

      -ms-flex: 1 1 auto;
      -ms-flex-direction: row;

      align-items: stretch;
      width: 100%;

      background-color: $color-bg-medium-grey;

      .question-button {
        display: block;
        width: 50%;
        color: $color-text-primary;
        text-align: center;
        padding: 0.5rem;
        box-sizing: border-box;
        cursor: default;
        user-select: none;

        &.clickable {
          cursor: pointer;
        }

        &.small-font-size {
          font-size: 0.8rem;
        }

        &.normal-font-size {
          font-size: 1rem;
        }

        .arrow-down,
        .question-icon {
          margin-right: 2%;
        }

        &:last-child {
          border-left: 2px solid white;
        }
      }
    }

    .alternative-button {
      cursor: pointer;
      display: block;
      position: absolute;
      top: -0.4rem;
      right: -0.4rem;

      background-color: $color-main;
      padding: 0.4rem;
      color: white;

      i {
        margin-right: 0.4rem;
      }
    }

    .answer-columns {
      display: flex;
    }

    .answer {
      width: 100%;
      padding: 0 2rem 2rem;
      box-sizing: border-box;

      &.media {
        min-height: 350px;
      }

      .submit-btn {
        display: inline-block;
        color: white;
        background: $color-main;
        padding: 0.4rem;
        cursor: pointer;
      }

      .disable {
        pointer-events: none;
      }

      input[type="number"] {
        font-size: medium;
        padding: 5px 10px;
        box-sizing: border-box;
        text-align: center;
        max-width: 70px;
      }

      .cross-button {
        margin-left: 0.5rem;
        font-size: medium;
      }

      .radio-input__display-value {
        align-items: center;
        display: inline-flex;

        &:not(:last-of-type) {
          margin-right: 8px;
        }

        .radio-input__plus {
          margin-left: 8px;
        }

        .radio-input__item.active {
          border-radius: 0;
          background-color: rgba(228, 228, 228, 0.4);
          padding: 3px 4px;
        }
      }

      .radio-input {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-bottom: 0.75rem;
        opacity: 1;
        transition: opacity 100ms ease-in;

        &.disabled {
          opacity: 0.4;

          input,
          label {
            cursor: not-allowed;
          }
        }

        input[type="radio"] {
          visibility: hidden;
        }

        input {
          margin: 0 1rem 0 0;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
          box-sizing: border-box;
        }

        label {
          max-width: 81%;
          position: relative;
          padding-left: 2em;
          cursor: pointer;
          display: inline-block;

          &:before {
            border-radius: 50%;
            box-sizing: content-box;
            content: "";
            color: $color-main;
            position: absolute;
            top: 50%;
            left: 0;
            width: 14px;
            height: 14px;
            margin-top: -9px;
            border: 2px solid $color-text-light-readable-grey;
            text-align: center;
          }

          &:after {
            border-radius: 50%;
            box-sizing: content-box;
            content: "";
            background-color: $color-main;
            position: absolute;
            top: 50%;
            left: 4px;
            width: 10px;
            height: 10px;
            margin-top: -5px;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition: -webkit-transform 200ms ease-out;
            transition: -webkit-transform 200ms ease-out;
            transition: transform 200ms ease-out;
            transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
          }

          span.answer-sublabel {
            display: block;
            font-weight: 300;
            font-size: smaller;
          }
        }

        .info-wrapper__action {
          color: $color-text-grey;
          display: inline;
          margin: 0 0 0 10px;

          &:hover {
            color: $color-main;
          }
        }

        .info-wrapper {
          cursor: default;

          i.fa {
            cursor: default;
            font-size: 9px;
            margin-left: 5px;
            vertical-align: super;

            &:hover {
              color: $color-text-grey;
            }

            @media only screen and (max-width: 800px) {
              display: none;
            }
          }
        }

        .info-wrapper--clickable {
          cursor: pointer;
        }

        input:checked + label:before {
          -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
          background-color: white;
        }

        input:checked + label:after {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }

      .wrapper {
        position: relative;

        .info-circle {
          visibility: hidden;
          left: -200%;
          position: absolute;
          background: $color-main;
          color: white;
          font-size: 12px;
          z-index: 9;
          min-width: 150px;
          width: 50%;

          .info-bar-text {
            position: relative;
            padding: 4%;
            display: inline-block;

            .info-bar-triangle {
              position: absolute;
              bottom: -9px;
              left: 0;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px 5px 0 5px;
              border-color: $color-main transparent transparent transparent;
            }
          }
        }
      }

      #media.wrapper {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em;
      }
    }
  }

  .button-invert {
    background: $color-bright;
    border-radius: 11px;
    padding: 3px $space-small-10;
  }

  .valve-option-question__count-indicator {
    color: #909090;
    font-size: 1rem;
  }

  .valve-option-question__item {
    border: none;
    color: #3c4753;
    cursor: pointer;
    background: #e4e4e4;
    margin: $space-small-5 $space-small-10 $space-small-5 0;
    min-width: 64px;

    &.button-invert {
      padding: 8px 16px;
      border-radius: 16px;
    }

    &.active {
      background-color: #3b3b3b;
      color: $color-white;
    }
  }
}
